<div>
  <nav class="navbar" style="background-color: #e3f2fd">
    <div class="container-fluid">
      <h1 style="color: rgb(2, 11, 19)">Factory Dashboard</h1>
      <div class="d-flex">
        <button
          type="button"
          (click)="clickAddFactory()"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="btn btn-success"
        >
          Add Factory
        </button>
      </div>
    </div>
  </nav>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Factory</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="form-group">
              <label for="exampleInputEmail1">Factory Name</label>
              <input
                type="text"
                formControlName="factoryName"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Factory Location</label>
              <input
                type="text"
                formControlName="factoryLocation"
                class="form-control"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="cancel"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            (click)="addFactory()"
            *ngIf="!isUpdatingFactory"
            class="btn btn-primary"
          >
            Add
          </button>
          <button
            type="button"
            (click)="updateFactory()"
            *ngIf="isUpdatingFactory"
            class="btn btn-primary"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Factory Name</th>
          <th scope="col">Location</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factory of factories">
          <td
            class="serial-no"
            (click)="navigateToProduct(factory.factoryId, factory.factoryName)"
          >
            {{ factory.factoryId }}
          </td>
          <td>{{ factory.factoryName }}</td>
          <td>{{ factory.factoryLocation }}</td>
          <td>
            <button
              (click)="onEdit(factory)"
              class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Edit
            </button>
            <button
              (click)="deleteFactory(factory.factoryId)"
              class="btn btn-danger mx-3"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
